<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FEMA Property Loss</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<<h1 align="center"> Property Loss Analysis</h1>
  <div class="col-md-6">
    <div id="plot"></div>
    
     </div>
<div class="col-md-12">
    <div class="col-md-6">
        <div id="loss"></div>
    </div>
    <div class="col-xs-6">
        <div id="policy"></div>
    </div>
</div>
<div class="col-md-12">
    <!-- <div class="col-md-6"> -->
        <div id="stateloss1"></div>
        <div id="stateloss2"></div>
        <div id="stateloss3"></div>
        <div id="stacked"></div>
    <!-- </div> -->
    <!-- <div class="col-xs-6">
        <div id="policy"></div>
    </div> -->
</div>
<div>
    
</div>
    <script src="/static/PolicyLoss/data.js"></script>
    <script src="/static/PolicyLoss/plots.js"></script>
    <script src="/static/PolicyLoss/loss.js"></script>
</body>
</html>
